/* HOME STYLES */

.home-content {
    @apply py-40 px-4 md:py-40 md:px-10;
}

.head-banner {
    @apply md:max-w-5xl text-center;

    h2 {
        @apply text-7xl md:text-8xl font-mono text-black dark:text-white;

        span {
            @apply font-extrabold bg-clip-text text-transparent bg-beach-video bg-cover;
        }
    }
}

.welcome-section {
    @apply max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8;
}

.welcome-title {
    @apply text-center;

    p {
        @apply mt-1 text-7xl font-mono font-extrabold text-black dark:text-white sm:text-8xl sm:tracking-tight lg:text-9xl
    }
}

.about-section {
    @apply relative py-16 sm:py-24;
}

.about-grid {
    @apply lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:gap-24 lg:items-start;
}

.about-image {
    @apply relative sm:py-16 lg:py-0;

    div {
        @apply relative mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-0 lg:max-w-none lg:py-20;

        div {
            @apply relative pt-64 pb-96 rounded-2xl shadow-xl overflow-hidden;

            img {
                @apply absolute inset-0 h-full w-full object-cover;
            }
        }
    }
}

.about-content {
    @apply text-center xl:text-left relative mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-0;
}

.about-content-info {
    @apply pt-12 sm:pt-16 lg:pt-20;

    h2 {
        @apply text-3xl text-black dark:text-white font-extrabold tracking-tight sm:text-4xl;
    }

    span {
        @apply mt-3 mb-10 inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-blue-light text-white-light dark:bg-blue-dark dark:text-black-dark;
    }

    .description {
        @apply mt-6 space-y-6 text-gray-darkest dark:text-gray-lightest;

        p {
            @apply text-base leading-7;
        }
    }
}

.about-stats {
    @apply mt-10;

    dl {
        @apply grid grid-cols-2 gap-x-4 gap-y-8;

        div {
            @apply border-t-2 border-white-dark dark:border-black-light pt-6;

            dt {
                @apply text-base font-medium text-gray-darkest dark:text-gray-lightest;
            }

            dd {
                @apply text-3xl font-extrabold tracking-tight text-black-light dark:text-white-dark;
            }
        }
    }
}

.about-link {
    @apply mt-10;

    a {
        @apply text-base font-medium text-blue;
    }
}